/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  height: 20%;
}

header .header__logo {
  cursor: pointer;
}

header .header__logo img {
  height: auto;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 15%;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

.nav ul {
  list-style: none;
  text-align: left;
  width: 90%;
}

.nav li {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.nav a {
  text-decoration: none;
  color: #666666;
  font-family: poppins;
  font-size: 1rem;
  display: block;
  padding: 0.8rem 2rem 0.8rem 0.6rem;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.nav a:hover {
  color: #3cb371;
}

.nav a.active {
  color: #f5f5f5;
  background-color: #3cb371;
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 12vw;
  padding: 1.5rem 0;
  height: 100%;
  width: 85%;
}

main article {
  position: relative;
  max-width: 85%;
}

section {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
}

h2 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  font-family: poppins;
  color: #555da1;
}

/* Traversing table styles */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#options-table,
#options-table2 {
  margin-top: 2rem;
  width: 100%;
  border-collapse: collapse;
  color: #555555;
  font-family: poppins;
}

#options-table th,
#options-table2 th {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 0.2rem;
  font-size: 1rem;
}

#options-table td,
#options-table2 td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  vertical-align: middle;
}

#options-table input[type="number"],
#options-table2 input[type="number"],
#options-table input[type="text"],
#options-table2 input[type="text"] {
  width: 100%;
  border: none;
  font-size: 1rem;
  padding: 0 0.5rem;
  background-color: #f5f5f5;
  box-shadow: none;
  outline: none;
}

.table-btn {
  display: block;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
  background-color: #3cb371;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.table-btn2 {
  display: block;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
  background-color: #3cb371;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.table-btn:hover,
.table-btn2:hover {
  background-color: #308659;
}

/* Font Awesome icons styles */
.fas {
  margin-right: 0.5rem;
}

.switch-container {
  display: inline-block;
  vertical-align: middle;
}

.switch-label {
  display: inline-block;
  cursor: pointer;
  background-color: #555da1;
  border-radius: 20px;
  position: relative;
  height: 30px;
  width: 70px;
  padding: 3px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.switch-label .switch-toggle {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.switch-input {
  display: none;
}

#switch-option1,
#switch-option2 {
  font-family: Poppins, sans-serif;
  font-size: 0.8rem;
  font-style: italic;
  animation: colorLoop 3s linear infinite;
}

@keyframes colorLoop {
  0%,
  50%,
  100% {
    color: #555da1;
  }
  50% {
    color: #b3b3b3;
  }
}

.switch-input:checked + .switch-label {
  background-color: #65c665;
}

.switch-input:checked + .switch-label .switch-toggle {
  left: 43px;
}

.switch-text {
  color: #333;
  font-weight: bold;
  line-height: 30px;
  white-space: nowrap;
  display: inline-block;
  margin: 0 10px;
}

.switch-text-left {
  float: left;
}

.switch-text-right {
  float: right;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1100px) {
  .hamburger {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #333;
    border-radius: 3px;
    z-index: 2;
  }

  .hamburger span:first-child {
    transform-origin: top;
  }

  .hamburger span:last-child {
    transform-origin: bottom;
  }

  .nav {
    position: fixed;
    left: -100%;
    height: 100%;
    width: 40%;
    transition: all 0.9s ease-in-out;
    z-index: 10;
  }

  .show {
    left: 0%;
    transition: all 0.6s ease-in-out;
  }

  table {
    margin-left: 0.8rem;
  }

  #options-table input[type="number"],
  #options-table2 input[type="number"],
  #options-table input[type="text"],
  #options-table2 input[type="text"] {
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: 0;
    background-color: #f5f5f5;
    box-shadow: none;
    outline: none;
  }

  #options-table th,
  #options-table2 th {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 0.2rem;
    font-size: 0.9rem;
  }

  /* input[type="text"] {
    width: 100%;
    box-sizing: border-box;
  } */

  main {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    height: 100%;
  }

  h2 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
    font-family: poppins;
    color: #555da1;
  }

  main article {
    position: relative;
    max-width: 100%;
  }
}
